@model RandomWordsViewModel

@{
    ViewData["Title"] = "Random Words Generator";
}

<div class="form-dialog pl-3 pr-3 pt-3 pb-1">
    <div class="row border-bottom border-success">
        <h2 class="col-7 form-dialog-header"><a asp-controller="Home" asp-action="Index">Random Word Generator</a></h2>
        <p class="col-5 pt-2 small font-weight-bold text-success">
            <img src="~/images/icons8-warning-triangle-23.png" /> If fields are not changed, default settings will be used
        </p>
    </div>
    <form asp-controller="Home" asp-action="Index">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-md-3">
                <select asp-for="@Model.NumberOfOWords" class="form-control" asp-items="@ViewBag.NumberOfWords">
                    <option value="35">Num. of words(35)</option>
                </select>
                <select asp-for="@Model.FirstLetter" class="form-control mt-1" asp-items="@ViewBag.FirstLetter">
                    <option value="@ViewBag.EmptyString">First letter(random)</option>
                </select>
                <select asp-for="@Model.LastLetter" class="form-control mt-1" asp-items="@ViewBag.LastLetter">
                    <option value="@ViewBag.EmptyString">Last letter(random)</option>
                </select>
                <select asp-for="@Model.NumberOfParagraphs" class="form-control mt-1" asp-items="@ViewBag.NumberOfParagraphs">
                    <option value="1">Num. of paragraphs(1)</option>
                </select>
                <select asp-for="@Model.MinimumWordLength" class="form-control mt-1" asp-items="@ViewBag.LengthOfWords">
                    <option value="5">Min. word length(5)</option>
                </select>
                <select asp-for="@Model.MaximumWordLength" class="form-control mt-1" asp-items="@ViewBag.LengthOfWords">
                    <option value="8">Max. word length(8)</option>
                </select>
            </div>
            <div class="col-md-9">
                <textarea class="form-control" placeholder="@ViewBag.RandomWords" rows="15"></textarea>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-gradient w-25">Generate</button>
                    <button type="button" class="btn btn-gradient w-25" data-toggle="modal" data-target="#AboutModal">Info</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="AboutModal" tabindex="-1" role="dialog" aria-labelledby="AboutModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AboutModal">
                    <img src="~/images/icons8-about-27.png" /> About
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small font-weight-bold">Developed by Pleasure Ndhlovu, 2021 June</p>
                <p>Application was developed to aid in generating of random word during web development or any other use that may require fictitious words</p>
                <div class="row">
                    <div class="col-6 zoom-picture">
                        <img src="~/images/ApplicationSnapshot.png" class="img-fluid rounded" />
                    </div>
                    <div class="col-6 zoom-picture">
                        <img src="~/images/ApplicationSnapshot2.png" class="img-fluid rounded" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">
                        <img src="~/images/icons8-whatsapp-22.png" /> <img src="~/images/icons8-phone-22.png" />
                        <a class="small modal-footer-link" href="#">+2782 398 2825</a>
                    </div>
                    <div class="col-6">
                        <img src="~/images/icons8-email-sign-22.png" /><a class="small modal-footer-link" href="#"> 2017269214@ufs4life.ac.za</a>
                    </div>
                    <div class="col-6">
                        <img src="~/images/icons8-github-22.png" /><a class="small modal-footer-link" href="https://github.com/Pleasuren15"> Pleasuren15</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>