@model RandomWordsViewModel

@{
    ViewData["Title"] = "Random Words Generator";
}

<div class="form-dialog pl-3 pr-3 pt-3 pb-1">
    <p class="small font-weight-bold text-success">
        <img src="~/images/icons8-warning-triangle-23.png" /> If fields are not changed, default settings will be used
    </p>
    <form asp-controller="Home" asp-action="Index">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row m-2">
            <div class="col-md-3 mt-1">
                <div class="row">
                    <label asp-for="@Model.NumberOfOWords" class="col-form-label text-center col-6"></label>
                    <select asp-for="@Model.NumberOfOWords" class="form-control col-6" asp-items="@ViewBag.NumberOfWords">
                        <option selected>select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3  mt-1">
                <div class="row">
                    <label asp-for="@Model.FirstLetter" class="col-form-label text-center  col-6"></label>
                    <select asp-for="@Model.FirstLetter" class="form-control col-6" asp-items="@ViewBag.FirstLetter">
                        <option selected>select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 mt-1">
                <div class="row">
                    <label asp-for="@Model.LastLetter" class="col-form-label text-center  col-6"></label>
                    <select asp-for="@Model.LastLetter" class="form-control col-6" asp-items="@ViewBag.LastLetter">
                        <option selected>select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 mt-1">
                <div class="row">
                    <label asp-for="@Model.NumberOfParagraphs" class="col-form-label text-center col-6"></label>
                    <select asp-for="@Model.NumberOfParagraphs" class="form-control col-6" asp-items="@ViewBag.NumberOfParagraphs">
                        <option selected>select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mt-1">
                <div class="row">
                    <label asp-for="@Model.MinimumWordLength" class="col-form-label text-center col-6"></label>
                    <select asp-for="@Model.MinimumWordLength" class="form-control col-6" asp-items="@ViewBag.LengthOfWords">
                        <option selected>select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mt-1">
                <div class="row">
                    <label asp-for="@Model.MaximumWordLength" class="col-form-label text-center col-6"></label>
                    <select asp-for="@Model.MaximumWordLength" class="form-control col-6" asp-items="@ViewBag.LengthOfWords">
                        <option selected>select</option>
                    </select>
                </div>
            </div>
        </div>
        <textarea class="form-control" placeholder="Randomly generated words will be placed here" rows="15"></textarea>
        <div class="form-group mt-2">
            <button class="btn btn-primary w-25" type="submit">Generate</button>
            <button class="btn btn-danger w-25" type="reset">Reset</button>
            <button type="button" class="btn btn-warning w-25" data-toggle="modal" data-target="#AboutModal">Info</button>
            <!-- Modal -->
        </div>
    </form>
</div>
<div class="modal fade" id="AboutModal" tabindex="-1" role="dialog" aria-labelledby="AboutModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AboutModal">
                    <img src="~/images/icons8-about-27.png" /> About
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                About text
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>